<?xml version="1.0" ?>
<launch>
  <!-- Send fake joint values -->
  <node pkg="joint_state_publisher" exec="joint_state_publisher">
    <param name="jsp_gui" value="TRUE"/>
    <param name="/source_list" value="/robotis/present_joint_states]" />
  </node>

  <node pkg="joint_state_publisher_gui" exec="joint_state_publisher_gui">
    <param name="jsp_gui" value="TRUE"/>
  </node>

  <!-- Combine joint values -->
  <node pkg="robot_state_publisher" exec="robot_state_publisher">
    <remap from="/joint_states" to="/robotis/present_joint_states" />
    <param name="robot_description" value="$(command 'xacro $(find-pkg-share op3_description)/urdf/robotis_op3.urdf.xacro')"/>
  </node>
  
  <!-- Show in Rviz   -->
  <node pkg="rviz2" exec="rviz2" args="-d $(find-pkg-share op3_description)/rviz/urdf.rviz"/>
</launch>
